<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ClickClientWeb</display-name>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>EglProxyServlet</display-name>
    <servlet-name>EglProxyServlet</servlet-name>
    <servlet-class>org.eclipse.edt.javart.services.servlet.proxy.AjaxProxyServlet</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>EglProxyServlet</servlet-name>
    <url-pattern>/___proxy</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CompressionFilter</filter-name>
    <filter-class>org.eclipse.edt.javart.util.gzip.CompressionFilter</filter-class>
    <init-param>
      <param-name>enable_compression</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>trace_dev</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>compression_threshold</param-name>
      <param-value>2048</param-value>
    </init-param>
    <init-param>
      <param-name>trace_level</param-name>
      <param-value>0</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CompressionFilter</filter-name>
    <url-pattern>*.html</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.js</url-pattern>
    <url-pattern>/___proxy</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>EglRestRpcServlet</display-name>
    <servlet-name>EglRestRpcServlet</servlet-name>
    <servlet-class>org.eclipse.edt.javart.services.servlet.rest.rpc.ServiceServlet</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>EglRestRpcServlet</servlet-name>
    <url-pattern>/restservices/*</url-pattern>
  </servlet-mapping>
</web-app>